body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  min-height: 100vh;
  height: 100%;
  background-color: #C3E5AE;
}
.products__container {
  width: 35%;
  min-height: 75vh;
  height: fit-content;
  border-radius: 40px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 5px gray;
  background-color: white;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  text-align: center;
}
button {
  background-color: white;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 15px;
  box-shadow: 1px 1px 4px #C3E5AE;
  border: none;
  font-size: 17px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 10px;
  align-self: center;
  padding: 10px;
  min-width: 100px;
  width: 25%;
}
button:hover {
  background-color: #C3E5AE;
}
.all__cards {
  margin-top: -10px;
  margin: 0 auto;
  width: 70%;
  padding: 10px;
}